<%= stylesheet_link_tag "bet/rules" %>

<section class="rules">
    <p>
        You are being challenged by your friend. 
        Have a good time. 
        We will not mediate any disputes. 
        So, don't accept challenges where you don't know the person. 
        We do not collect any wagers, ever. 
        This is between you two. 
        This app will act as a statement of record to identify outcomes, only. 
        </br>
        In the Spirit of friendship, if you lose, don't stiff your friend.
        You may settle your wagers however you see fit.
        Accepting a challenge means you understand and agree to abide by these terms.
    </p>
</section>


