// BORDER
$border: 1px solid #eee;

// TEXT SIZES
$text_8: 8pt;
$text_10: 10pt;
$text_11: 11pt;
$text_12: 12pt;
$text_14: 14pt;
$text_16: 16pt;

$text_thin: 100;
$text_med: 400;
$text_bold: 600;

// COLORS
$blue: #0084FF;
$red: #F03D25;
$gray: #CCC;
$gray_2: #f7f7f7;
$gray_7: #7A7A7A;
$gray_5: #C4C4C4;
$button_active: #EDEDED;
$white: #FFF